@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.calculator {
    padding: 10px;
    border-radius: 5px;
    height: 550px;
    width: 400px;
    margin: auto;
    background-color: #352d32;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.display-box {
    background-color: #dcdbe1;
    border: solid black 1px;
    color: black;
    font-size: 30px;
    width: 95%;
    height: 70%;
}

.button {
    background-color: #e79211;
    color: white;
    border: solid black 2px;
    width: 75%;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 2px;
    height: 50%;
    outline: none;
    font-size: 25px;
}

.button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}